
export(new_static_env)
export(make_class_optional)
export(private_methods)
export(privateMethodsLibrary)
export(setExtendedRefClass)
export(setRefSet)
export(setRefVector)
export(static_const)
export(static_methods)
export(MethodsLibrary)
exportClass(classStaticEnv)
exportClass(extendedRefClassDefinition)
exportClass(privateMethodsLibrary)
exportClass(objectPrivateMethods)
exportClass(MethodsLibrary)
exportClass(PrivateMethod)
exportClass(StaticConstEnv)
exportClass(StaticMethod)
exportClass(StaticMethods)
exportClass(TypedEnvironment)
import(pkgcond)
import(methods)
importClassesFrom(methods,"NULL")
importFrom(rlang,"%||%")
importFrom(stats,setNames)
importFrom(assertthat,validate_that,is.string)
